@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "ĐĂNG KÝ";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Liên kết với tài khoản @Model.ProviderDisplayName của bạn.</h2>
<hr />

<p id="external-login-description" class="text-info">
    Bạn đã xác thực thành công với <strong>@Model.ProviderDisplayName</strong>.
    Vui lòng điền địa chỉ email vừa đăng ký và nhấn vào nút "Đăng ký" để hoàn tất việc đăng nhập.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Vui lòng điền email."/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Đăng Ký</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
